.post-details {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  font-family: "Merriweather", "Georgia", serif;
  line-height: 1.6;
  color: #444;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 800px;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 0.9em;
    font-weight: 700;

    @media (min-width: 576px) {
      font-size: 1.5em;
    }

    @media (min-width: 768px) {
      font-size: 2em;
    }
  }

  .post-image {
    height: 150px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 15px 15px rgba(46, 46, 46, 0.1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: 576px) {
      height: 240px;
    }

    @media (min-width: 768px) {
      height: 300px;
    }
  }

  .post-body {
    margin-bottom: 80px;
    font-size: 1em;

    @media (min-width: 576px) {
      font-size: 1.1em;
    }

    @media (min-width: 768px) {
      font-size: 1.2em;
    }
  }

  .comments {
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }

  .comment {
    margin-bottom: 50px;

    .comment-body {
      margin-top: 10px;
      line-height: 1.6;
      font-size: medium;
    }

    .comment-header {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        margin-right: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .comment-header-info {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        color: #8d8d8d;

        @media (min-width: 576px) {
          font-size: 14px;
        }

        @media (min-width: 768px) {
          font-size: 15px;
        }
      }
    }
  }

  .comment p {
    font-size: 1em;

    @media (min-width: 576px) {
      font-size: 1.1em;
    }

    @media (min-width: 768px) {
      font-size: 1.2em;
    }
  }

  button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    @media (min-width: 576px) {
      padding: 12px 24px;
      font-size: 1.1em;
    }

    @media (min-width: 768px) {
      padding: 14px 28px;
      font-size: 1.2em;
    }
  }
}