<div class="spinner-container" *ngIf="isLoading">
  <div class="spinner">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div class="post-container" *ngIf="!isLoading">
  <div
    class="post-card"
    *ngFor="let post of posts"
    [ngClass]="{ 'selected-card': post.id === selectedCardId }"
  >
    <div class="post-header">
      <div class="post-profile-image">
        <img [src]="postProfileImageURL + post.user?.id" alt="Profile" />
      </div>
      <h4>Posted by: {{ post.user?.username }} ({{ post.user?.email }})</h4>
    </div>
    <div class="post-body">
      <img [src]="postBodyImageURL + post.user?.id" alt="Post" />
      <p>{{ post.body | limitCharacters : 100 }}</p>
    </div>
    <div class="post-footer">
      <button (click)="showPostDetails(post.id)" class="show-Comments">
        Show Comments
      </button>
    </div>
  </div>
</div>
